

*{

  box-sizing: border-box;
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
  

}
#quote-box{
  width: 45%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 3.5%;
 background-color: white;
 border-radius: 5px;
display:inline-block;
min-width: 350px;

}
 #tweet-quote, #new-quote{

border-radius: 2.5px;
}
#text{
  width: 100%;
  height: auto;
  font-size:xx-large;
}
#author{
  width: 100%;
  height: auto;
  padding: 20px 0 20px 0;
  text-align: right;
  font-size: large;
}

#new-quote{
  height: 50px;
  width: 100px;
  float:right;
 color:white;
 border:none;
 font-size: medium;
}

#twitter-logo{
  height: 25px;
  width: auto;
 
}
#tweet-quote-container{
  padding:10px;
  height: auto;
  width: auto;
  float: left;
  border-radius: 2.5px;
}
#tweet-quote-container:hover, #new-quote:hover{
cursor: pointer;
}
